html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
    color: #789000 !important;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 10px;
}

.btn-bold-big {
  font-size: 32px;
  font-weight: bold;
}

.btn-bold-big {
  font-size: 22px;
  font-weight: bold;
}


.projectDiv {
    padding: 5px 15px;
}


.formBg {
    background-color: #efefef;
    border: 3px dashed #d1d1d1;
    color: purple;
    font-size: 24px;
    font-weight: 300;
    padding: 20px 20px;
    vertical-align: middle;
    width: 100%;
    word-wrap: break-word;
}

.colPadding {
  padding: 5px 10px;
  margin: 5px 10px;
  border-bottom: 1px solid #666;
}
